<% include ./partials/header %>

<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
	<section class="section">
		<div class="container">	

			<h1 class="title is-1">Now Editing <%= blog.title %></h1>

			<div class="field">
				<label for="" class="label">Title:</label>
				<p class="control">
					<input type="text" class="input" value="<%= blog.title %>" name="blog[title]">
				</p>
			</div>

			<div class="field">
				<label for="" class="label">Author:</label>
				<p class="control">
					<input type="text" class="input" value="<%= blog.author %>" name="blog[author]">
				</p>
			</div>
			
			<div class="field">
				<label for="" class="label">Image:</label>
				<p class="control">
					<input type="text" class="input" value="<%= blog.image %>" name="blog[image]">
				</p>
			</div>

			<div class="field">
				<label class="label">Text:</label>
				<p class="control">
					<textarea class="textarea" placeholder="Main text content of the post" name="blog[body]">
						<%- blog.body %>
					</textarea>
				</p>
			</div>

			<div class="field">
				<p class="control">
					<button class="button is-success">Submit</button>
				</p>
			</div>

		</div>
	</section>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/trumbowyg.min.js"></script>
<script>
	$(document).ready(function(){
		$.trumbowyg.svgPath = '/css/icons.svg';
		$('textarea').trumbowyg();
	});
</script>
<script>
	$( document ).ready(function() {
		console.log( "document loaded" );
	});

	$( window ).on( "load", function() {
		console.log( "window loaded" );
	});
</script>

<% include ./partials/footer %>