<% include ./partials/header %>

<div class="container" id="all-blogs">
	<div class="columns is-multiline">

		<% blogs.forEach(function(blog){ %>
				<div class="column is-half">
					<a href="/blogs/<%= blog._id %>">
						<h2 class="title is-2"><%= blog.title %></h2>
					</a>
					<p class="subtitle is-5">By <%= blog.author %>, on <span><%= blog.created %></span></p>
					<figure class="image is-16by9">
						<img src="<%= blog.image %>" alt="">
					</figure>
					<p><%= blog.body %></p>
					<hr>
				</div>
		<% }) %>

	</div>
</div>
  
<% include ./partials/footer %>